<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<h1>这是蔬菜</h1>
		<button id="sea">点击查询</button>
		<div style="width:600px;">
			<!--<ul>
				<li ng-repeat="list in lists track by $index">
					<p>{{list.name}}</p>
				</li>
			</ul>-->
			<table class="table table-bordered" style="width:600px;">
				<tr>
					<th>名字</th>
					<th>ID</th>
				</tr>
				<tr ng-repeat="list in lists track by $index">
					<td>{{list.name}}</td>
					<td>{{list.ProSort?list.ProSort:'&nbsp;'}}</td>
				</tr>
			</table>
			<ul uib-pagination total-items="bigTotalItems" 
				ng-model="bigCurrentPage" 
				max-size="maxSize" 
				class="pagination-sm" 
				boundary-links="true" 
				num-pages="numPages"
				items-per-page="num"
				ng-change="pageChanged()"
				>
			</ul>
		</div>
	</body>
</html>
